@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;

  .workspace-scroll::-webkit-scrollbar {
  width: 5px;
}

.workspace-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.workspace-scroll::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.15);
  border-radius: 999px;
}

.workspace-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.3);
}

.workspace-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.15) transparent;
}
}
.modal-scroll::-webkit-scrollbar {
  width: 4px;
}

.modal-scroll::-webkit-scrollbar-thumb {
  background: transparent;
}

.modal-scroll:hover::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  border-radius: 999px;
}

.modal-scroll {
  scrollbar-width: thin;
}